/* bootstrap override */

.navbar {
    background-color: #fa5124;
    font-size: 0.75rem;
}

.nav-link:hover {
    color: #5c7552 !important;
}

.nav-item.active {
    color: #fcd100 !important;
}

/* custom ap */

.ap-color-rouge {
    color: #fa5124 !important;
}
.ap-color-jaune {
    color: #fcd100 !important;
}
.ap-color-vert {
    color: #5c7552 !important;
}
.ap-color-beige {
    color: #eae5e3 !important;
}
.ap-color-gris {
    color: #444444 !important;
}

.ap-bg-color-rouge {
    background-color: #fa5124 !important;
}
.ap-bg-color-jaune {
    background-color: #fcd100 !important;
}
.ap-bg-color-vert {
    background-color: #5c7552 !important;
}
.ap-bg-color-beige {
    background-color: #eae5e3 !important;
}
.ap-bg-color-gris {
    background-color: #444444 !important;
}

.ap-button-jaune {
    border-color: #fcd100 !important;
    background-color: #fcd100 !important;;
}
.ap-button-jaune:hover {
    color: #fff !important;;
    background-color: #444444 !important;;
    border-color: #444444 !important;;
}

.ap-button-rouge {
    border-color: #fa5124 !important;;
    background-color: #fa5124 !important;;
}
.ap-button-rouge:hover {
    color: #fff !important;;
    background-color: #444444 !important;;
    border-color: #444444 !important;;
}

.ap-badge-vert {
    color: #eae5e3;
    background-color: #5c7552;
    font-size: 1rem;
}

.ap-processus-text {
    line-height: 1rem;
    color: #444444;
}

.ap-logo-fixed {
    height: 40px;
    opacity: 1 !important;
}

.ap-logo-responsive {
    display: block;
    height: 40px;
    opacity: 1 !important;
}

.ap-logo-navbar-toggler {
    border: 0;
}

.ap-menu-button {
    border: none;
    padding: 0;
    margin-bottom: 6px;
}

.ap-nav-link {
    padding-top: 13px !important;
    padding-bottom: 0 !important;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
    color: #eae5e3 !important;
    border-color: #eae5e3 #eae5e3 #eae5e3 !important;
}

.ap-card {
    padding-bottom: 15px;
    text-underline: none;
}

.ap-img-responsive, .ap-home-img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    min-width: 100%;
}

.ap-img-responsive {
    padding-bottom: 15px;
}

.ap-home-img-responsive:hover {
    opacity: 0.75;
}

.ap-center-home {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ap-center {
    font-size: 1rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ap-graylayer {
    position: absolute;
    background: rgb(51, 59, 80); /* Fallback color */
    background: rgba(51, 59, 80, 0.5);
    width: 100%; /* Full width */
    height: 100%;
}

.ap-anim-underline-title {
    color: #eae5e3 !important;
    font-size: 1.15rem;
    top: 10px;
    position: relative;
}

.ap-anim-underline {
    display: inline-block;
    padding-bottom:10px;
    background-image: linear-gradient(#fcd100, #fcd100);
    background-repeat: no-repeat;
    animation-name: ap-anim-underline-keyframes;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    width: 100%;
}
@keyframes ap-anim-underline-keyframes {
    from {background-position: right -100% bottom 0; background-size: 200% 10px;}
    to {background-position: left 0% bottom 0; background-size: 200% 10px;}
}

.ap-professionnelle {
    text-align: center;
    margin-bottom: 40px;
}

.ap-contact-item {
    text-align: left;
    margin-bottom: 40px;
}

.ap-philosophie-item-title {
    color: #5c7552;
    font-size:1rem;
    line-height: 1.2;
}
.ap-philosophie-item {
    font-size:1rem;
    line-height: 1.2;
}

@media (max-width: 768px) {
    .ap-approche-item-even {
        background-color: #eae5e3 !important;
    }
    .ap-approche-item-odd {
        background-color: #fcd100 !important;
    }
}

.ap-contact-link {
    color: #eae5e3 !important;
}
.ap-contact-link:hover {
    color: #5c7552 !important;
}

.ap-hide {
    display: none;
}

.ap-show:hover .ap-hide {
    display: block;
}

.pl-6 {
    padding-left: 4rem !important;
}
.pr-6 {
    padding-right: 4rem !important;
}

/* parallax */

body, html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

.bgimg-2 {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-2 {
    background-image: url("../../images/approche.jpg");
    min-height: 100px;
    opacity: 1;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-2 {
        background-attachment: scroll;
    }
}

.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-bottom: 15px;
}

.video-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
