/* bootstrap override */

.navbar {
    background-color: rgba(51, 59, 80,.5);
    font-size: 0.75rem;
}

.nav-link:hover {
    color: #bec5cf !important;
}

.nav-item.active {
    color: #00d646 !important;
}

/* custom ap */

.ap-color-rouge {
    color: #f55d3e !important;
}
.ap-color-jaune {
    color: #f2bd50 !important;
}
.ap-color-vert {
    color: #5c7552 !important;
}
.ap-color-beige {
    color: #eae5e3 !important;
}
.ap-color-gris {
    color: #444444 !important;
}

.ap-bg-color-rouge {
    background-color: #f55d3e !important;
}
.ap-bg-color-jaune {
    background-color: #f2bd50 !important;
}
.ap-bg-color-vert {
    background-color: #5c7552 !important;
}
.ap-bg-color-beige {
    background-color: #eae5e3 !important;
}
.ap-bg-color-gris {
    background-color: #444444 !important;
}

.ap-button {
    border-color: #f55d3e;
    background-color: #f55d3e;
}

.ap-logo-fixed {
    height: 40px;
    opacity: 1 !important;
}

.ap-logo-responsive {
    display: block;
    height: 40px;
    opacity: 1 !important;
}

.ap-logo-navbar-toggler {
    border: 0;
}

.ap-menu-button {
    border: none;
    padding: 0;
    margin-bottom: 6px;
}

.ap-nav-link {
    padding-top: 13px !important;
    padding-bottom: 0 !important;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
    color: #939dab !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
}

.ap-card {
    padding-bottom: 15px;
    text-underline: none;
}

.ap-img-responsive, .ap-home-img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    min-width: 100%;
}

.ap-img-responsive {
    padding-bottom: 15px;
}

.ap-home-img-responsive:hover {
    opacity: 0.75;
}

.ap-center-home {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ap-center {
    font-size: 1rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ap-graylayer {
    position: absolute;
    background: rgb(51, 59, 80); /* Fallback color */
    background: rgba(51, 59, 80, 0.5);
    width: 100%; /* Full width */
    height: 100%;
}

.ap-anim-underline {
    display: inline-block;
    padding-bottom:10px;
    background-image: linear-gradient(#00d646, #00d646);
    background-repeat: no-repeat;
    animation-name: ap-anim-underline-keyframes;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    width: 100%;
}
@keyframes ap-anim-underline-keyframes {
    from {background-position: right -100% bottom 0; background-size: 200% 10px;}
    to {background-position: left 0% bottom 0; background-size: 200% 10px;}
}

.ap-professionnelle {
    text-align: center;
    margin-bottom: 40px;
}

.ap-contact {
    background-color: #333b50;
    color: #bec7d5;
    font-size: 0.8em;
    padding-top: 50px;
    padding-bottom: 50px;
}

.ap-hide {
    display: none;
}

.ap-show:hover .ap-hide {
    display: block;
}

/* parallax */

body, html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

.bgimg-1, .bgimg-2 {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("../../images/chaus_bis.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("../../images/experience.jpg");
    min-height: 400px;
    opacity: 1;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2 {
        background-attachment: scroll;
    }
}

/* timeline */

.timeline-date {
    color: #00d646;
    font-weight: bold;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #00d646;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: 1px;
}

/* Container around content */
.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -10px;
    background-color: #00d646;
    top: 0px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.timeline-left {
    text-align: right;
    left: 0;
}

/* Place the container to the right */
.timeline-right {
    text-align: left;
    left: 50%;
}

/* Fix the circle for containers on the right side */
.timeline-right::after {
    left: -5px;
}

.timeline-anim {
    animation-name: timeline-anim-keyframes;
    animation-duration: 1s;
}
@keyframes timeline-anim-keyframes {
    from {opacity: 0}
    to {opacity: 1}
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .timeline-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .timeline-left::after, .timeline-right::after {
        left: 26px;
    }

    /* Make all right containers behave like the left ones */
    .timeline-right {
        left: 0%;
    }
}

.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-bottom: 15px;
}

.video-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
